@each $var, $order in ($color-primary, primary), ($color-secondary, secondary),($color-tertiary, tertiary), ($color-tertiary, accent), ($color-quaternary, quaternary)  {
	.bg-color-#{$order} {
		background-color: #{$var};
		color:white;
		* {
			color:white;
		}
	}
	.text-color-#{$order} {
		color: #{$var};
		* {
			color:#{$var};
		}
	}
	.border-color-#{$order} {
		border-color: #{$var};
	}
}

@each $var, $order in ($grayscale-primary, primary), ($grayscale-secondary, secondary), ($grayscale-white, white) {

	.bg-grayscale-#{$order} {
		background-color: #{$var};
		// @if $order == gray-2 or $order == gray-3 or $order == white {
		// 	color: $grayscale-gray-2;
		// 	* {
		// 		color: $grayscale-gray-2;
		// 	}
		// }

	}
	.text-grayscale-#{$order}, .text-grayscale-#{$order} * {
		color: #{$var};
		* {
			color:#{$var};
		}
	}
	.border-grayscale-#{$order} {
		border-color: #{$var};
	}
}

// @each $var, $order in ($background-gradient-primary, primary), ($background-gradient-secondary, secondary), ($background-gradient-gray, gray) {
// 	.bg-gradient-#{$order} {
// 		background-image: #{$var};
// 	}
// }
