footer {
	background-color: $color-primary;
	// padding-top: 50px;
	// padding-bottom: 50px;
	position: relative;
	display: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $grayscale-white;

	@media screen and (min-width: 768px) {
		display: block;
	}

	nav.nav-footer {
		max-width: none;
		width: auto;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 4.16667%;
		padding-right: 4.16667%;
		@media screen and (min-width:1560px) {
			padding-left: 0;
			padding-right: 0;
			max-width: 1440px;
		}

		hr {
			border-color: darken($gray-100, 10%);
			border-width: 1px;
		}

		> ul {
			display:flex;
			justify-content: space-between;
			list-style: none;
			margin-bottom: 0;
			padding-left: 0;
			> li {
				// padding-right:1em;
				text-align: center;
				> a {
					font-family: $font-tertiary;
					font-size: 20px;
					color: $grayscale-white;
					text-decoration: none;
					margin-bottom: 0;
					display: inline-block;
					text-transform: uppercase;
					&:hover {
						color: transparentize($grayscale-primary, 0.46);
						text-decoration: none;
					}
				}
				ul.sub-menu {
					// margin-left:1em;
					li {
						a {
							display:block;
							text-decoration:none;
							padding:0.5em 0;
							margin:0;
							color:$black;
						}
					}
				}
			}
		}
	}


	.footer-middle {
		position: relative;
		max-width: none;
		margin-left: auto;
		margin-right: auto;
		padding-top: 80px;
		padding-bottom: 0.6em;
		margin-bottom: 0.6rem;
		padding-left: 4.16667%;
		padding-right: 4.16667%;
		z-index: 0;
		display: flex;
		color: $grayscale-white;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (min-width:1560px) {
			padding-left: 0;
			padding-right: 0;
			max-width: 1440px;
		}
		@media screen and (max-width: 991px){
			display: block;
		}
		&__section__left {
			flex: 0 0 65%;
		}
		&__section__right {
			padding-left: 2rem;
			flex: 0 0 35%;
			@media screen and (max-width: 991px) {
				margin-top: 6.5rem;
			}
		}
		&__section__left,
		&__section__right {
			@media screen and (max-width: 1150px){
				flex: 0 0 45%;
			}
		}
		.wysiwyg {
			p {
				margin-bottom: 0;
			}
		}
		#footer-investment-principles {
			margin-top: -2rem;
			.principle-single {
				padding-left: 2rem;
				@media screen and (min-width: 992px) {
					max-width: 690px;
				}
				@media screen and (max-width: 1150px){
					font-size: 0.8em;
				}
			}
		}
		.footer-logo {
			margin-bottom: 5rem;
			max-width: 472px;
		}
		.locations {
			display: flex;
			justify-content: space-between;
			&__single {
				flex: 0 0 50%;
				a:hover {
					color: #fff;
				}
			}
		}
	}


	.sub-footer {
		margin-top: 110px;
		@media screen and (max-width: 1150px){
			font-size: 14px;
		}
		&__container {
			position: relative;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			display: block;
			justify-content: space-between;
			padding-left: 2rem;
			padding-right: 2rem;
			text-align: center;
			@media screen and (min-width: 992px){
				display: flex;
				text-align: left;
			}
		}
		background: $color-primary-dark;
		color: $grayscale-white;
		font-family: $font-tertiary;
		text-transform: uppercase;
		a {
			color: $color-accent;
		}
		// &__links {
		//
		// }
	}
}
