header {
	overflow: visible;
	z-index: 99;
	transition: top 0.5s ease;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	// @media screen and (max-width: $screen-md-max){
	@include media-breakpoint-down(md) {
		position: fixed;
	}


	.header-full {
		background-color: $white;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		z-index:99;
		border-bottom: solid 1px darken($gray-100, 9.75%);
		min-height: 80px;
		transition: transform .2s ease;
		&__container {
			// display: flex;
			min-height: 80px;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.nav-logo {
			display: flex;
			align-items: center;
			transition: max-width 0.3s ease;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin-left: 2rem;
			a {
				display: inline-block;
			}
			img {
				width: 100%;
				max-width: 100px;

				@media screen and (min-width: 992px) {
					max-width: 150px;
				}

				@media screen and (min-width: 1200px) {
					max-width: 197px;
				}
			}
		}

		.nav-header {
			align-items: center;
			flex: 1 1 0%;
			position: relative;
			display: none;
			width: calc(100% - 410px);
			margin-right: auto;
			margin-left: auto;

			@media screen and (max-width: 1200px){
				width: calc(100% - 200px);
				margin-right: 0;
			}

			@media screen and (min-width: $mobile-nav-max-width) {
				display: flex;
			}

			ul.header-nav {
				list-style: none;
				width: 100%;
				text-align: right;
				display: flex;
				justify-content: center;
				height: 100%;
				margin-bottom: 0;
				padding-left: 0;
				@media screen and (max-width: 1200px){
					justify-content: flex-end;
				}

				> li {
					display: inline-block;
					text-align: center;
					opacity: 1;

					> a {
						display: inline-block;
						// background-color: $white;
						transition: all 0.3s ease;
						margin-bottom: 0;
						font-family: $font-tertiary;
						font-size: 17px;
						color: $color-primary;
						font-weight: normal;
						line-height: 1.3;
						text-decoration: none;
						text-transform: uppercase;
						// padding: 1.5em 1.2vw;
						padding-left: 1.2vw;
						padding-top: 1.9em;
						padding-right: 1.2vw;
						padding-bottom: 1.8em;
						@media screen and (min-width: 1200px) and (max-width: 1345px){
							padding-left: 10px;
							padding-right: 10px;
							font-size: 1.3vw;
						}
						@media screen and (max-width: 1200px){
							padding-right: 0;
							padding-top: 2.3em;
							padding-bottom: 2.3em;
						}

						@media screen and (min-width: 1560px){
							font-size: 20px;
						}

						&:hover {
							text-decoration: none;
							color: $color-tertiary;
						}
					}
					&.current-menu-item > a {
						@media screen and (min-width: 1201px){
							box-shadow:inset 0 -2px 0 0 $color-primary;
						}
					}
					&.menu-item-has-children {
						position:relative;
						> ul.sub-menu {
							position:absolute;
							top:100%;
							left:0;
							min-width:100%;
							list-style:none;
							padding:0;
							margin:0;
							background:$white;
							opacity:0;
							pointer-events:none;
							transition: all 0.3s ease;
							z-index:99;
							border: solid 1px darken($gray-100, 9.75%);
							border-top: none;
							a {
								display:block;
								text-decoration:none;
								font-family: $font-primary;
								font-size:16px;
								color: $color-primary;
								font-weight: normal;
								line-height: 1.3;
								text-decoration: none;
								text-transform: uppercase;
								padding:0.5em 1em;
								&:hover {
									background-color: $gray-100;
								}
							}
						}
						&:hover {
							background-color: $gray-100;
							> ul.sub-menu {
								opacity:1;
								pointer-events: auto;
							}
						}
					}
				}
			}

			#menu-header-menu {
				display: none;

				@media screen and (min-width: $mobile-nav-max-width) {
					display: flex;
				}
			}
			#menu-mobile-menu {
				@media screen and (min-width: $mobile-nav-max-width) {
					display: none;
				}
			}
		}
		.nav-upper {
			font-family: $font-tertiary;
			font-size: 16px;
			position: absolute;
			top: 8px;
			right: 2rem;
			.partner-link {
				text-transform: uppercase;
				display: inline-block;
				padding-right: 30px;
			}
			.menu-trigger {
				text-transform: uppercase;
				font-family: $font-tertiary;
				display: inline-block;
				&:hover {
					cursor: pointer;
				}
			}
		}

		.nav-search-container {
			.input-search-wrapper {
				display:flex;
				flex-direction:row;
				align-items:center;
				.fa {
					font-size: 1rem;
					color:$color-primary;
					&:before {
						display: block;
						position: relative;
					}
				}
				.fa-search {
					float: left;
				}
				input[type="search"] {

				}
			}
		}
		header:not(.topped) & {
			opacity: 0;
			pointer-events: none;
		}
		&.header-scroll {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			transition: transform .2s ease, opacity 0s ease;
			body.scrolled:not(.sub-menu-open) & {
				transform: translateY(-100%);
			}
		}

		// @media screen and (max-width: $screen-md-max){
		@include media-breakpoint-down(md) {
			position: relative;
			body.scrolled:not(.sub-menu-open) & {
				transform: translateY(-100%);
			}
			&.header-scroll {
				display: none;
			}
		}
	}
	&:not(.topped){
		// @media screen and (min-width: $screen-md-min){
		@include media-breakpoint-down(md) {
			.header-full:not(.header-scroll) {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	&.topped {
		.header-scroll {
			opacity: 0;
			pointer-events: none;
		}
	}


	.mobile-menu-button-container {
		display: block;
		// position: absolute;
		// right: 150px;
		// margin-right:1em;
		z-index: 101;
		padding: 1rem;
		cursor: pointer;
		@media screen and (min-width: $mobile-nav-max-width) {
			display: none;
		}
		.mobile-menu-button {
			// transition: all 0.2s ease-in;
			// padding: 1rem;
			width: 20px;
			height: 16px;
			position: relative;
			> span {
				height: 2px;
				position: absolute;
				left: 0;
				right: 0;
				// display: block;
				// height: 2px;
				// width: 18px;
				background-color: $color-primary;
				// position: relative;
				transition: all 0.2s ease-in;
				// + span {
				// 	margin-top: 3px;
				// }
				&:first-of-type {
					top: 0;
				}
				&:nth-of-type(2) {
					top: 7px;
				}
				&:nth-of-type(3) {
					top: 14px;
				}
			}
		}
	}

}
