body.single {

	main {
		background: #F7F7F7;
	}
	#news-hero {
		padding-top: 150px;
		@media screen and (min-width: 1200px){
			.hero-content {
			    flex-basis: 79.66667%;
			    max-width: 79.66667%;
			    width: 100%;
			}
		}
	}
	.single-item {
		max-width: 800px;
		margin: auto;
		padding-left: 2em;
		padding-right: 2em;
		position: relative;
		margin-top: 3em;
		padding-bottom: 3em;
		.vertical-text {
			transform: rotate(-90deg) translate(-100%, -100%);
	    transform-origin: left top;
	    position: absolute;
	    top: 4px;
			left: 0;
			@media screen and (max-width: 767px) {
				left: 10px;
			}
		}
	}
	.listing-cta {
		margin-top: 4em;
	}
}
