* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px transparentize($black, 0.996);
}

body {
	font-family: $font-primary;
	font-size: 16px;
	color: $color-primary;
	font-weight: 400;
	line-height: 1.5;
}

/**
* HEADINGS & SUB-HEADINGS ----------------------------------------------
**/
.header-base {
	font-family: $font-secondary;
	color: $color-primary;
	font-weight: 800;
	line-height: 1.2;
	margin-top:1em;
	margin-bottom:0.5em;
	text-transform: uppercase;
	&:first-child {
		margin-top:0; // keep first item flush with top of parent
	}
	.s1 + &, .s2 + &, .s3 + &, .s4 + & {
		margin-top:0.2em; // shrink top margin for headers that come immediately after a subheader
	}
	a {
		color:inherit !important;
	}
}

// apply base header styles
h1, h2, h3, h4, h5, h6 {
	@extend .header-base !optional;
}
h2 {
	line-height:1.5;
}
// apply header class styles after base, to override
.h1, .h2, .h3, .h4, .h5, .h6, .title {
	@extend .header-base !optional;
}
.h2 {
	line-height:1.5;
}
h1.emphasis {
	text-transform: none;
}

// subheaders
.s1, .s2, .s3, .s4, .s5 {
	font-family:$font-tertiary;
	color: $grayscale-secondary;
	line-height:1.5;
	margin:0.4em 0 1em;
	text-transform: uppercase;
	.h1 + &, .h2 + &, .h3 + &, .h4 + &, .h5 + &, .h6 + & {
		margin-bottom:1.8em; // add margin for subheader under header
	}
}

/*
	Header Size List Generator
	enter the size list (with unit type) and the desired element name,
	and get a numbered list of headers with font sizes
*/
@include header-sizes('h', (30px, 28px, 22px, 18px, 16px, 14px));
@include header-sizes('.h', (30px, 28px, 22px, 18px, 16px, 14px));
@include header-sizes('.s', (26px, 23px, 20px, 18px));

@media screen and (min-width:768px){
	@include header-sizes('h', (40px, 36px, 32px, 28px, 24px, 20px));
	@include header-sizes('.h', (40px, 36px, 32px, 28px, 24px, 20px));
	@include header-sizes('.s', (32px, 28px, 24px, 20px));
}

a {
	&.h1, &.h2, &.h3, &.h4, &.h5,
	&.s1, &.s2, &.s3, &.s4, &.s5, &.s6 {
		display: inline-block; // no blocky for headers inside anchors
	}
}


// // h1 - h5 Headers
// @for $i from 1 through 6 {
// 	h#{$i}{
// 		@extend .header-base !optional;
// 		@include get-type-styles("h#{$i}");
// 	}
// }
//
// // .h1 - .h5 Header classes
// @for $i from 1 through 6 {
// 	.h#{$i}{
// 		@extend .header-base !optional;
// 		@include get-type-styles("h#{$i}");
// 	}
// }
//
// // Subheaders
// .s1, .s2, .s3, .s4, .s5 {
// 	@include get-type-styles("subheaders");
// 	.h1 + &, .h2 + &, .h3 + &, .h4 + &, .h5 + & {
// 		margin-bottom:1.8em; // add margin for subheader under header
// 	}
// }
//
// // .s1 - .s5 Header classes
// @for $i from 1 through 5 {
// 	.s#{$i}{
// 		@extend .header-base !optional;
// 		@include get-type-styles("s#{$i}");
// 	}
// }


/**
 * BODY TEXT ----------------------------------------------
**/
a {
	color: $color-secondary;
	transition: all 0.3s ease;
	&:hover {
		opacity:0.8;
	}
}
.wysiwyg a {
	font-family: $font-tertiary;
	color: $color-tertiary;
	// text-transform: uppercase;
	&:hover {
		color: $color-primary;
	}
}
.wysiwyg .button {
	color: $grayscale-white;
	&:hover {
		color: $color-accent;
	}
}

p {
	margin-bottom: 1rem;
}

.small {
	font-size: 0.875rem;
}

.large {
	font-size: 1.25rem;
}

.emphasis {
	font-family: $font-quaternary;
	font-weight: 500;
	color:$color-primary;
	font-size: 1.95em;
	line-height: 1.25;
	&.small {
		font-size: 26px;
		@media screen and (min-width: 992px) and (max-width: 1200px) {
			font-size: 22px;
		}
		@media screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 20px;
		}
		@media screen and (max-width: 767px) {
			font-size: 18px;
		}
	}
}

blockquote {
	font-family: $font-quaternary;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 0.5em;
	margin: 2em 1em;
	padding:1em 2em;
}

strong,
b {
	font-weight: bold;
}

em {
	font-style: italic;
}


.mce-content-body,
.wysiwyg {
	ul, ol {
		margin-bottom:1.6em;
		padding-left:1.6em;
		> li {
			margin-bottom:0.5em;
		}
	}
}


hr {
	border-color: darken($gray-100, 9.75%);
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.mce-content-body,
.wysiwyg {
	.video-link {
		position: relative;
		display: inline-block;
		float: left;
		img {
			margin: 0.5em 1em 0.5em 0 !important;
			border: solid 1px $color-secondary;
		}
	}
}

.alignleft {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
.alignright {
	float: right;
	margin: 0.5em 0 0.5em 1em;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mce-content-body {
	padding: 1rem !important;
}
body.wp-autoresize {
	padding: 1rem !important;
}

.text-dynamic {
	@media screen and (min-width: $mobile-nav-max-width) and (max-width: #{$max-column-width}px){

	}
}

.wysiwyg {
	table {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	table, th, td {
	  border: 2px solid $color-primary;
		padding: 10px;
	}
}
