.portfolio-listing-module {
	.portfolio-listing-container {
		display: flex;
		flex-wrap: wrap;
		margin-left: -8px;
		margin-right: -8px;
	}
	.portfolio {
		flex: 0 0 33.3334%;
		position: relative;
		margin-bottom: 18px;
		@media screen and (max-width: 767px) {
			flex: 0 0 50%;
		}
		&__container {
			padding-top: 60%;
			margin-left: 8px;
			margin-right: 8px;
			position: relative;
			box-shadow: 0px 0px 10px -1px rgba(0,0,0,.2);
		}
		&__image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			&__gray, &__hover {
				background-repeat: no-repeat;
				background-position: center;
				background-size: 75%;
			}
			&__hover {
				background-color: #fff;
				opacity: 0;
				transition: background-position .3s ease, background-size .3s ease;
			}
		}
		&__title {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			color: $grayscale-white;
			background: $color-primary;
			opacity: 0;
			transition: all .2s ease;
			text-transform: uppercase;
			font-family: $font-tertiary;
			padding: 1em;
			.learn-more {
				color:$color-tertiary;
			}

		}
		&:hover {
			.portfolio__title {
				opacity: 1;
			}
			.portfolio__image__hover {
				opacity: 1;
				background-position: center top;
				background-size: 68%;
			}
			.portfolio__image__hover,
			.portfolio__image__gray {

			}
		}
	}
}

.portfolio-popup {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	position: relative;
	&__banner {
		width: 100%;
		height: 222px;
		position: relative;
		background-color: $grayscale-white;
		&__image {
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto 90%;
			@media screen and (max-width: 767px){
				background-size: contain;
			}
		}
	}
	&__container {
		display: flex;
		@media screen and (max-width: 991px) {
			display: block;
		}
	}
	&__half {
		flex: 0 0 50%;
		@media screen and (min-width: 992px){
			max-width: 50%;
		}
	}
	&__profile {
		position: relative;
		padding: 4.5em 4em;
		@media screen and (max-width: 767px){
			padding: 2em 1.25em;
		}
		.profile-overview {
			margin-top: 2em;
			> * {
				margin-bottom: 0.5em;
				color: $grayscale-white;
				a {
					color: $color-tertiary;
					&:hover {
						color: $grayscale-white;
					}
				}
			}
		}
	}
	&__details {
		position: relative;
		padding: 4.5em 4em;
		@media screen and (max-width: 767px){
			padding: 2em 1.25em;
		}
		.details-background {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 1;
			&__image {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
		&__container {
			position: relative;
			z-index: 2;
		}
		.details-single {
			display: flex;
			color: $color-tertiary;
			margin-bottom: 1em;
			@media screen and (max-width: 767px) {
				display: block;
			}
			a {
				color: $color-tertiary;
				font-family: $font-tertiary;
				// text-transform: uppercase;
				&:hover {
					color: $grayscale-white;
				}
			}
			div:first-of-type {
				color: $grayscale-white;
				font-family: $font-tertiary;
				text-transform: uppercase;
				margin-right: 0.5em;
				flex-shrink: 0;
			}
			div:last-of-type {
				color: $grayscale-primary;
			}
			ul {
				list-style: none;
				padding-left: 0;
				li {
					display: flex;
					&:before {
						content: '+';
						color: $color-tertiary;
						display: inline-block;
						margin-right: 1em;
					}
				}
			}
		}
	}
	.mfp-close {
		width: auto;
		font-family: $font-tertiary;
		font-size: 16px;
		padding-top: 1em;
		padding-right: 1em;
		opacity: 1;
		text-transform: uppercase;
		z-index: 3;
		height: auto;
		line-height: 1;
		.symbol {
			color: $color-tertiary;
		}
		@media screen and (max-width: 991px) {
			background: $grayscale-white;
			position: fixed;
		}
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 .details-single {
	 display: block !important;
	 div:first-of-type {
		 display: inline-block;
	 }
	 div:last-of-type {
		 display: inline-block;
		 max-width: 100%;
	 }
 }
}
