$team-listing-module-column-size: $grid-columns;

.team-listing-module {

	.team-listing-container {
		display: flex;
		flex-wrap: wrap;
		margin-right: -16px;
		margin-left: -16px;
	}

	.team-member {
		flex: 0 0 25%;
		margin-bottom: 40px;
		@media screen and (min-width: 992px) and (max-width: 1100px) {
			flex: 0 0 33.3334%;
		}
		@media screen and (min-width: 768px) and (max-width: 991px){
			flex: 0 0 50%;
		}
		@media screen and (max-width: 767px){
			flex: 0 0 100%;
		}
		&__container {
			padding: 0 16px;
			position: relative;
			@media screen and (max-width: 767px) {
				max-width: 530px;
				margin: auto;
			}
		}
		&__image {
			width: 100%;
			padding-top: 82%;
			position: relative;
			@media screen and (max-width: 767px){
				padding-top: 65%;
			}
			&__treated, &__hover {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			&__hover {
				opacity: 0.5;
				clip-path: inset(100%);
				transition: all .3s ease;
			}
		}
		&__title {
			font-family: $font-tertiary;
			color: $color-tertiary;
			text-transform: uppercase;
			padding-left: 15%;
			transform: translate(0, -1.5rem);
			z-index: 2;
			position: relative;
		}
		&:hover {
			.team-member__image__hover {
				opacity: 1;
				clip-path: inset(7% 10% 17%);
			}
		}
	}
	.executive-council-header {
		margin-bottom: 2rem;
		border-bottom: 2px solid $grayscale-primary;
		flex: 0 0 100%;
		display: block;
		width: 100%;
		max-width: 100%;
		transition: all .2s ease;
	}
}
.team-listing-container--executive:not(.active) {
	.executive-council-header {
		display: none;
	}
}

.team-member-popup {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	&__container {
		display: flex;
		position: relative;
		@media screen and (max-width: 991px) {
			display: block;
		}
	}
	&__half {
		flex: 0 0 50%;
		position: relative;
		// padding-top: 3.5em;
		// padding-bottom: 3.5em;
	}
	&__profile {
		.profile-background {
			z-index: 1;
			position: relative;
			&__hover {
				background-position: top center;
				background-repeat: no-repeat;
				background-size: contain;
				z-index: 3;
				clip-path: inset(7% 10% 33%);
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					display: none;
				}
			}
			&__fade {
				position: absolute;
				top: 80%;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: linear-gradient(0deg, rgba($color-primary, 1), rgba($color-primary, 0));
				}
		}
		.profile-container {
			position: relative;
			z-index: 2;
			padding-left: 3.5em;
	    padding-right: 3.5em;
			padding-bottom: 3.5em;
	    margin-top: -16%;
			@media screen and (max-width: 767px) {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
	}
	&__details {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		.details-background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			&__image {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					height: 350px;
					background-image: linear-gradient(to top, rgba($color-primary,1),rgba($color-primary,0));
				}
			}
		}
		.details__container {
			position: relative;
			z-index: 2;
			padding: 2.5em;
			@media screen and (min-width: 992px) {
				padding-top: 30%;
			}
			@media screen and (max-width: 767px) {
				padding: 2.5rem 1.5rem;
			}
			table {
				margin: auto;
				@media screen and (max-width: 767px){
					margin: 0;
				}
				tr {
					padding-bottom: 1em;
					vertical-align: top;
					@media screen and (max-width: 767px){
						display: block;
					}
					td:first-of-type {
						@extend .s5;
						text-align: right;
						padding-right: 1em;
						color: $grayscale-white;
						@media screen and (max-width: 767px){
							text-align: left;
						}
					}
					td:last-of-type {
						color: $grayscale-primary;
						ul {
							list-style: none;
							padding: 0;
							li {
								display: flex;
								&:before {
									content: '+';
									display: inline-block;
									margin-right: 1em;
									color: $color-tertiary;
								}
							}
						}
						a {
							color: $color-tertiary;
							margin: 0;
							@extend .s5;
							text-transform: none;
							display: inline;
							&:hover {
								color: $grayscale-white;
							}
						}
					}
					td {
						@media screen and (max-width: 767px){
							display: block;
						}
					}
					&:last-of-type {
						td {
							padding-top: 1em;
						}
					}
				}
			}
		}
	}
	.mfp-close {
		width: auto;
		font-family: $font-tertiary;
		font-size: 16px;
		padding-top: 1em;
		padding-right: 1em;
		opacity: 1;
		text-transform: uppercase;
		z-index: 3;
		height: auto;
		line-height: 1;
		.symbol {
			color: $color-tertiary;
		}
		@media screen and (max-width: 767px){
			position: fixed;
			background: $grayscale-white;
			span:not(.symbol){
				color: $color-primary !important;
			}
		}
	}
}
