body.styleguide {

	.styleguide-header {
		margin: 6rem auto 2rem;
		max-width: cols-to-width-percent(22, 24) * 1%;
		position: relative;

		.s5 {
			display: inline-block;
			background-color: $white;
			position: relative;
			padding-right: 1rem;
			margin: 0;
		}

		hr {
			border-top-color: $color-primary;
			border-top-width: 2px;
			margin: 0;
			width: 100%;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
		}
	}

}
